In [1]:
a =int(input("enter no of people"))
b =int(input("No of seats in a bus"))
if b>=a:
    print("one bus is required")
else:
    print("More than one bus is required")

enter no of people5
No of seats in a bus25
one bus is required

In [5]:
temp = int(input("please enter fahrenheit temperature"))
c = (temp - 32)*5/9
print('celsis temp is ',c)

please enter temperature75
celsis temp is  23.88888888888889

In [6]:
temp = int(input("please enter celsis temperature"))
F = temp*9/5 + 32
print('fahrenheit temp is',F)

please enter celsis temperature65
fahrenheit temp is 149.0

In [11]:
name = input("please enter name")
age = int(input("please enter age"))
height = input("please enter your height")
print("The details of the person: Name:",name,','" Age:",age,','" Height:",height)

please enter nameRavi
please enter age22
please enter your height6.0
The details of the person: Name: Ravi , Age: 22 , Height: 6.0

In [19]:
import math
a = int(input("please enter value"))
b = int(input("please enter value"))
c = int(input("please enter value"))
d = int(input("please enter value"))
value = (a+b)**2
value1 = (c+d)**3
print(value,value1)
print("variance is:",((a**2+b**2+c**2+d**2)/4)-(a+b+c+d)/4)
print("std deviation is",math.sqrt(((a**2+b**2+c**2+d**2)/4)-(a+b+c+d)/4))
m = 1.23
z = 0.045
print("y is",m*(a+b+c+d)+z)
print("sum of 4 nos ", a+b+c+d)
print("average of 4 nos ",(a+b+c+d)/4)

please enter value10
please enter value20
please enter value30
please enter value40
900 343000
variance is: 725.0
std deviation is 26.92582403567252
y is 123.045
sum of 4 nos  100
average of 4 nos  25.0

In [15]:
DISTANCE_IN_KM = float(input("Please enter the distance in KM"))
print("Distance in centimeters: ",DISTANCE_IN_KM*pow(10,5))
print("Distance in meters: ",DISTANCE_IN_KM*pow(10,3))
print("Distance in millimeters: ",DISTANCE_IN_KM*pow(10,6))
print("Distance in feets: ",DISTANCE_IN_KM*3280.84)
print("Distance in cents: ",DISTANCE_IN_KM*24710.538146717)

Please enter the distance in KM20
Distance in centimeters:  2000000.0
Distance in meters:  20000.0
Distance in millimeters:  20000000.0
Distance in feets:  65616.8
Distance in cents:  494210.76293434005

In [16]:
SIZE_IN_GB = float(input("please enter size of harddisk"))
print("Size in MB",SIZE_IN_GB*1024)
print("Size in KB",SIZE_IN_GB*1024*1024)
print("Size in TB",SIZE_IN_GB/1024)
print("Size in PB",SIZE_IN_GB/(1024*1024))

please enter size of harddisk2
Size in MB 2048.0
Size in KB 2097152.0
Size in TB 0.001953125
Size in MB 1.9073486328125e-06

In [2]:
weight = float(input("please enter your weight in kg "))
height = float(input("please height in centimeters "))
BMI = weight/(height*height*pow(10,-4))
print('BMI is: ',BMI)

please enter your weight in kg 85
please height in centimeters 173
BMI is:  28.40054796351365

In [5]:
name="Jayaram"
age=1.6
height=3.5356234
weight=10.343856783
print("Name:%s,Age:%.2f,Height:%.2f,Weight:%.2f"%(name,age,height,weight))

Name:Jayaram,Age:1.60,Height:3.54,Weight:10.34

In [6]:
string = input("please enter word")
print(string.lower())

please enter wordABCD
abcd

In [10]:
x=2
y=3
print(pow(x,y))

8

In [14]:
oil = 98
sugar = 24
soap = 40
print('Total cost is: ',oil+sugar+soap)
print('average cost is: ',oil+sugar+soap/3)
print('min cost is: ',min(oil,sugar,soap))
print('max cost is: ',max(oil,sugar,soap))

Total bill is:  162
average is:  135.33333333333334
min is:  24
max is:  98